@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary)) hsl(var(--background));
}

:root {
  --background: 49 93% 96%;
  --foreground: 49 5% 10%;
  --card: 49 50% 96%;
  --card-foreground: 49 5% 15%;
  --popover: 49 93% 96%;
  --popover-foreground: 49 95% 10%;
  --primary: 49 100% 73.3%;
  --primary-foreground: 0 0% 0%;
  --secondary: 49 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 11 30% 95%;
  --muted-foreground: 49 5% 40%;
  --accent: 11 30% 90%;
  --accent-foreground: 49 5% 15%;
  --destructive: 0 93% 50%;
  --destructive-foreground: 49 5% 96%;
  --border: 49 30% 82%;
  --input: 49 30% 50%;
  --ring: 49 100% 73.3%;
  --radius: 0.75rem;

  --amplify-components-tabs-item-color: hsl(var(--foreground)) !important;
  --amplify-components-tabs-item-active-color: #a69859 !important;
  --amplify-components-tabs-item-hover-color: #a69859 !important;
  --amplify-components-tabs-item-hover-active-color: #a69859e1 !important;
  --amplify-components-tabs-item-active-border-color: #a69859 !important;
  --amplify-components-button-primary-background-color: hsl(
    var(--primary)
  ) !important;
  --amplify-components-button-primary-hover-background-color: hsl(
    var(--primary) / 80%
  ) !important;
  --amplify-components-button-primary-color: hsl(var(--foreground)) !important;
  --amplify-components-button-primary-hover-color: hsl(
    var(--foreground)
  ) !important;
  --amplify-components-button-link-color: #a69859 !important;
  --amplify-components-button-link-hover-color: #bfb37f !important;
  --amplify-components-button-hover-background-color: #fdfd8ebb !important;
  --amplify-components-button-active-background-color: #fdfd8ebb !important;
  --amplify-components-button-hover-border-color: #a69859 !important;
  --amplify-components-passwordfield-button-focus-border-color: #a69859 !important;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--background));
  width: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 4px;
}

.dark {
  --background: 49 15% 6%;
  --foreground: 49 5% 90%;
  --card: 49 15% 6%;
  --card-foreground: 49 5% 90%;
  --popover: 49 15% 5%;
  --popover-foreground: 49 5% 90%;
  --primary: 49 100% 73.3%;
  --primary-foreground: 0 0% 0%;
  --secondary: 49 15% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 11 15% 15%;
  --muted-foreground: 49 5% 60%;
  --accent: 11 15% 15%;
  --accent-foreground: 49 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 49 5% 90%;
  --border: 49 20% 18%;
  --input: 49 20% 18%;
  --ring: 49 100% 73.3%;
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

[data-amplify-authenticator] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    65.9deg,
    rgb(253, 235, 113) 5.5%,
    rgba(248, 215, 0, 0.582) 54.2%,
    rgba(253, 234, 113, 0.63) 55.2%,
    rgba(236, 248, 0, 0.859) 98.4%
  );
}
