@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 42 7% 97%;
  --foreground: 42 5% 10%;
  --card: 42 7% 97%;
  --card-foreground: 42 5% 15%;
  --popover: 42 7% 97%;
  --popover-foreground: 42 95% 10%;
  --primary: 42 100% 68%;
  --primary-foreground: 0 0% 0%;
  --secondary: 42 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 4 10% 95%;
  --muted-foreground: 42 5% 40%;
  --accent: 4 10% 90%;
  --accent-foreground: 42 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 42 5% 97%;
  --border: 42 20% 82%;
  --input: 42 20% 50%;
  --ring: 42 100% 68%;
  --radius: 1rem;
}
.dark {
  --background: 42 10% 10%;
  --foreground: 42 5% 97%;
  --card: 42 7% 10%;
  --card-foreground: 42 5% 97%;
  --popover: 42 10% 5%;
  --popover-foreground: 42 5% 97%;
  --primary: 42 100% 68%;
  --primary-foreground: 0 0% 0%;
  --secondary: 42 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 4 10% 25%;
  --muted-foreground: 42 5% 65%;
  --accent: 4 10% 25%;
  --accent-foreground: 42 5% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 42 5% 97%;
  --border: 42 20% 50%;
  --input: 42 20% 50%;
  --ring: 42 100% 68%;
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
