@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 49 93% 96%;
  --foreground: 49 5% 10%;
  --card: 49 50% 96%;
  --card-foreground: 49 5% 15%;
  --popover: 49 93% 96%;
  --popover-foreground: 49 95% 10%;
  --primary: 49 100% 73.3%;
  --primary-foreground: 0 0% 0%;
  --secondary: 49 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 11 30% 95%;
  --muted-foreground: 49 5% 40%;
  --accent: 11 30% 90%;
  --accent-foreground: 49 5% 15%;
  --destructive: 0 93% 50%;
  --destructive-foreground: 49 5% 96%;
  --border: 49 30% 82%;
  --input: 49 30% 50%;
  --ring: 49 100% 73.3%;
  --radius: 0.75rem;
}
.dark {
  --background: 49 15% 6%;
  --foreground: 49 5% 90%;
  --card: 49 15% 6%;
  --card-foreground: 49 5% 90%;
  --popover: 49 15% 5%;
  --popover-foreground: 49 5% 90%;
  --primary: 49 100% 73.3%;
  --primary-foreground: 0 0% 0%;
  --secondary: 49 15% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 11 15% 15%;
  --muted-foreground: 49 5% 60%;
  --accent: 11 15% 15%;
  --accent-foreground: 49 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 49 5% 90%;
  --border: 49 20% 18%;
  --input: 49 20% 18%;
  --ring: 49 100% 73.3%;
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
